In [3]:
mylist = [1,2,3]

In [4]:
mylist.append(4)

In [5]:
mylist

[1, 2, 3, 4]

In [8]:
mylist.pop(2)

3

In [9]:
mylist

[1, 2]

In [11]:
mylist

[1, 2]

In [2]:
def say_hello(name):
    print(f"hello {name}")

In [3]:
say_hello(input("Your name "))

Your name jose
hello jose

In [17]:
def add_function(num1,num2):
    return num1+num2

In [18]:
result = add_function(1,2)

In [19]:
result

3

In [4]:
def login_function():
    name = input("Tell us your name ")
    age = input("Your Age ")
    email = input("Email ")
    return "name: "+name +"; Age: "+  age +"; Email: " + email

In [5]:
login = login_function()

Tell us your name luca
Your Age 18
Email luca.b.reynoso@gmail.com

In [6]:
login

'name: luca; Age: 18; Email: luca.b.reynoso@gmail.com'

In [46]:
def even_check(num):
    return num %2== 0

In [48]:
even_check(21)

False

In [73]:
def check_even_list(num_list):
    
    even_numbers = []
    
    for num in num_list:
        if num%2== 0:
            even_numbers.append(num)
        else:
            pass
        
    return even_numbers

In [75]:
check_even_list(range(0,21))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [98]:
prices = [("apple", 200), ("orange", 400), ("banana", 500)]

for item, price in prices:
    print(item)

apple
orange
banana

In [104]:
work_hours = [("Abby", 100), ("Jose", 4000), ("Cassie", 800)]

In [105]:
def employee_check(work_hours):
    current_max = 0
    employee_of_the_month = ""
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_the_month = employee
        else:
            pass
        
    
    return (employee_of_the_month, current_max)

In [106]:
employee_check(work_hours)

('Jose', 4000)

In [1]:
from random import shuffle

In [2]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [3]:
def player_guess():
    
    guess=""
    
    while guess not in ["0","1","2"]:
         guess = input("Pick a numeber: 0,1 or 2 ")
    
    return int(guess)

In [4]:
myindex = player_guess()

Pick a numeber: 0,1 or 2 1

In [5]:
def check_(mylist,):
    if mylist[] == "O":
        print("Correct!")
    else:
        print("Wrong!")
        print(mylist)

In [6]:
mylist = [" ", "O", " "]

shuffle_list(mylist)

guess = player_guess()

check_guess(mylist, guess)

Pick a numeber: 0,1 or 2 2
Correct!

In [137]:
def myfunc(a,b,c=0, d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [138]:
myfunc(40,60,100)

10.0

In [146]:
def myfunc (*args):
    for item in args:
        print(item)

In [147]:
myfunc(40,70)

40
70

In [148]:
def myfunc(**kwargs):
    if "fruit" in kwargs:
        print("my choice is {}".format(kwargs["fruit"]))
    else:
        print("I did not find any fruit here")

In [150]:
myfunc(fruit="apple",veggie = "lettuce")

my choice is apple

In [3]:
def myfunc(*args, **kwargs):
    print("I would like {} {}".format(args[0], kwargs["fruit"]))

In [4]:
myfunc(10,20,30, fruit = "orange", food = "eggs", animal = "dog")

I would like 10 orange